.container {
  padding: 0 1rem;
  background-color: black;
  color: whitesmoke;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex: 1;
  padding: 1rem;
  justify-content: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-left: 2rem;

}

.Home {
  font-style: italic;
  font-size: larger;
  font-weight: bolder;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.966);
  color: white;
}


.footer a {
  display: flex;
  flex-grow: 1;
  padding: .2rem;
  justify-content: left;
  align-items: left;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-bottom: 4rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #E0FF00
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: white;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  width: 250px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #97a2ad;
  border-color: #c5cacf;
  transform: scale(1.1);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.button {
  margin: 1rem;
  padding: .5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.descriptionText {
  display: flex;
  text-align: center;
}

.descriptionCardsBox {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.CardsText {
  border: 1px solid white;
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width:1000px) {
  .descriptionCardsBox {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .CardsText {
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .descriptionCardsBox {
    flex-direction: column;
  }

  .navbar,
  .Home {
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
  }

  .navbar a,
  .Home {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}